<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description"
          content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}
          {% else %}
            {{ site.description }}
          {% endif %}">

    <meta name=”ROBOTS” content="FOLLOW, INDEX">
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.elplacerdecomer.com.py/" />
    <meta property="og:image" content="http://elplacerdecomer.com.py/assets/img/ig_image.gif" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:site_name" content="El placer de Comer" />

    <meta itemprop="name" content="{{ site.title }}">
    <meta itemprop="description" content="{{ site.description }}">
    <meta itemprop="image" content="http://elplacerdecomer.com.py/assets/img/logo.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147234050-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147234050-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NPWJ659');</script>
    <!-- End Google Tag Manager -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7251976438845764",
            enable_page_level_ads: true
        });
    </script>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <link rel=”canonical” href=”http://elplacerdecomer.com.py/” />

</head>
