<div id="particles-js">
  <div class="header">
      <h1>
        <span class="title">{{site.site_title}}</span>
        <span class="title2">{{site.professional_name}}</span>
        <span class="title3">{{site.professional_title}}</span>
      </h1>
      <div class="header-icons">

          {% if site.email %}
          <a aria-label="Correo" href="mailto:{{ site.email }}?subject=Contacto"><i class="icon fa fa-envelope"></i></a>
          {% endif %}

          {% if site.github_id %}
          <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_id }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
          {% endif %}

          {% if site.facebook_id %}
          <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/{{ site.facebook_id }}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
          {% endif %}

          {% if site.twitter_id %}
          <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{ site.twitter_id }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}

          {% if site.instagram_id %}
          <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/{{ site.instagram_id }}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
          {% endif %}


      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Acerca mio</a>
        <a class="link" href="#projects" data-scroll onclick='FB.AppEvents.logEvent("buttonActividades")'>Actividades</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
