<div class="user-details">
  <h1> Actividades </h1>
</div>
  {% for item in site.categories.Actividad limit:10 %}
    <div class="user-projects">
      <div class="{% cycle 'images-right', 'images-left' %}">
        <img alt="{{ item.photo }}" src="assets/img/activities/{{ item.photo}}.png" />
      </div>
      <div class="{% cycle 'contents', 'contents-right' %}">
        <h3> {{ item.title }} </h3>
        {{ item.excerpt }}
      </div>
    </div>
  {% endfor %}
<a class="link" href="{{ site.baseurl }}/actividades">Ir a todas las Actividades</a>